<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
{% load static %}
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Analytex</title>

  
  <link rel="stylesheet" href="{% static "css/foundation.css" %}">
  <link rel="stylesheet" href="{% static "css/apps/website.css" %}">

  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

</head>
<body>
    {% include 'header.html' %}
    <div id="container">
      {% block content %}
      {% endblock %}
    </div>
  {% include 'footer.html' %}
 <script src='{% static 'js/vendor/jquery.js' %}'></script>
  
  <script src="{% static "js/foundation.min.js" %}"></script>
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
