  <!-- Footer -->
  <footer>
    <div class="row custom-row">
        <div class="large-12 small-12 columns">
                    &copy; 2013 <a href="http://www.mohitranka.com/">Mohit Ranka</a>.
                    All rights reserved.
        </div>
    </div>
  </footer>
