 <!-- Header and Nav -->
 {% load static %} 
 <div class="row header custom-row">
     <div id="logo" class="large-1 small-12 columns" >
         <a href="/">
             <img src="{% static "img/logo.png" %}"/>
         </a>
     </div>
     <div class="large-6 small-10 columns">
        <ul class="button-group header-nav">
           <li><a href="/docs/" class="button unhighlight">Docs</a></li>
           <li><a href="/pricing/" class="button unhighlight">Pricing</a></li>
           <li><a href="/contact/" class="button unhighlight">Contact</a></li>
        </ul>
    </div>
    <div class="large-5 small-2 columns">
        <ul class="button-group right header-nav">
            <li><a href="/login/" class="button highlight">Login</a></li>
         </ul>
    </div>
  </div>
  <!-- End Header and Nav -->
