  {% extends 'base.html' %}
  
  {% block content %}   
  <div class="row custom-row">
    <div class="large-12 columns">
      <img src="http://placehold.it/1000x400&text=[img]">
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->
 
  <div class="row row-odd custom-row">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div>
    <div class="large-8 columns">
      <h4 style="color: #2BA6CB">This is a content section.</h4>
      <div class="row custom-row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="large-6 columns">
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>
 
 
  <!-- Third Band (Image Right with Text) -->
 
  <div class="row row-even custom-row">
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
 
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
    </div>
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]">
    </div>
  </div>
  {% endblock %}
