{% extends 'base.html' %}
{% block content %}
<div class="row row-odd" style="color: #222222">
    <div class="large-12 columns" style="text-align: center;">
        <p style="font-weight: bold; font-size: 36px; margin-bottom: 0px;">Analytex API Pricing</p>
        <p>Sign up for a free account or contact us for commercial use.</p>
        </div>
</div>
<div class="row row-odd">
    <div class="large-2 columns" style="height: 1px;">
   </div>
    <div class="large-4 columns">
        <ul class="pricing-table">
            <li class="title">Personal</li>
            <li class="price">Free</li>
            <li class="description">For personal projects. Free for life!</li>
            <li class="bullet-item">5000 requests per day</li>
            <li class="bullet-item">Email only</li>
            <li class="bullet-item">48 to 72 hours</li>
          <li class="cta-button"><a class="button" href="/login/">Generate API Key</a></li>
      </ul>
   </div>
    <div class="large-4 columns">
        <ul class="pricing-table">
            <li class="title">Professional</li>
            <li class="price">Contact Us</li>
            <li class="description">For commerical projects. Pay as you go</li>
            <li class="bullet-item">Custom</li>
            <li class="bullet-item">Phone and email support</li>
            <li class="bullet-item">6 to 12 hours</li>
          <li class="cta-button"><a class="button" href="/contact/">Request Private Access</a></li>
      </ul>
  </div>
  <div class="large-2 columns" style="height: 1px;">
  </div>
</div>
<div class="row row-odd">
    <div class="large-12 columns" style="height: 100px; text-align:center; line-height: 100px;">
        Need your own dedicated text analysis server setup? <a href="/contact">Contact Us</a>
    </div>
</div>
{% endblock %}
