.custom-row {
    min-width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
html, body
{
    height: 100%;
}

body {
    background-color: #13A7C7;
}

.header {
    background-color: #111111;
    box-shadow: 0 0 20px black;
    border-radius: 2px;
    height: 60px;
    line-height: 60px;
    color: white;
    font-family: inherit;
    margin-bottom: 10px;
}

.header #logo {
    font-weight: bold;
}

#logo>a>img {
    height: 45px;
    line-height: 45px;
}

.header-nav {
    height: 60px;
    background-color: inherit;
}

.header-nav > li {
    height: 60px;
    line-height:60px;
}

.button {
    box-shadow: none;
    margin: 0 10px 0 0;
    padding-left: 18px;
    padding-right: 18px;
}

.highlight {
    border-radius: 3px;
}
.unhighlight {
    background-color:inherit;
    border-style: none;
}

.unhighlight:hover, .unhighlight:focus, .unhighlight:active {
    background-color: black;
}

footer {
    height: 30px;
    line-height: 30px;
    background-color: #333333;
    margin: 0 !important;
    color: #858585;
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

footer a {
    color: darkgray;
}

footer a:hover {
    font-weight: bold;
    color: inherit;
}

.row-odd {
    background-color: #ECF8FF; 
}

.row-even {
    background-color: #FFFFFF; 
}

#container {
    padding-bottom: 10px;
}

.cta-button {
    padding-bottom: 1.25em !important;
}